<div xmlns="http://www.w3.org/1999/xhtml">

<p><strong>resourceType:</strong> {{Bundle.resourceType}}</p>
<p><strong>id:</strong> {{Bundle.id}}</p>

<p><strong>Backported R5 Bundle Notification Bundle Profile</strong></p>

<p><strong>type:</strong> {{Bundle.type}}</p>
<p><strong>timestamp:</strong> {{Bundle.timestamp}}</p>
<p><strong>entries:</strong></p>

<ol>
  {% for var in Bundle.entry %}
    <li><strong>fullUrl:</strong> {{var.fullUrl}}</li>

  {% if var.resource %}
  <li><strong>resource:</strong> {{var.resource.resourceType}}</li>
  <li><strong>id:</strong> {{var.resource.id}}</li>
  {% endif %}

  {% if var.request %}
  <li><strong>request method:</strong> {{var.request.method}},<strong>url:</strong> {{var.request.url}}</li>
  {% endif %}

  {% if var.response %}
  <li><strong>response status:</strong> {{var.request.status}}</li>
  {% endif %}

  {% if var.resource.resourceType == "Parameters" %}
  <li>
    <strong>parameters:</strong>
      <ul>
      {% for var in Bundle.entry[0].resource.parameter %}
      <li><strong>name:</strong>{{var.name}}, <strong>value:</strong>
        {% if var.valueUnsignedInt %}{{var.valueUnsignedInt}}
        {% elsif var.valueUri %}{{var.valueUri}}
        {% elsif var.valueCode %}{{var.valueCode}}
        {% elsif var.valueString %}{{var.valueString}}
        {% endif %}
      </li>
      {% endfor %}
      </ul>
  </li>
    {% endif %}
{% endfor %}
</ol>
</div>
